header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.col-md-6 {
  width: 50%; 
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}


h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #007bff;
}


.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

body{
  background-color: #065b83;
}

header{
  background-color: #f1f1f1;
  padding-bottom: 30px;
  font-size: 25px;
  margin-bottom: 35px;
}

h1 {
  font-size: 50px;
  padding-bottom: 60px;
}

nav{
  padding-bottom: 55px;
}

#blopSpot{
  background-color: #f1f1f1;
  border-radius: 8px;
}